.header{
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    font-size: 2.4vw;
    font-weight: bold;
}

img.awes-logo{
    width: 5vw;    
    height: 6vw;
    margin-top: 2vw;
}

img#g20{
    width: 5vw;    
    height: 6vw;
}

#red{
    color: #c21922;
}

#blue{
    color: rgb(2, 2, 100);
}

.direction-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    margin-top: 20px;
}

#hr-line{
    width: 179%;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
}