html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.3vw;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main-content {
    min-height: 50vw;
}

a {
    color: black;
    text-decoration: none;
}

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
}